:root {
  --color-brand: #007bff;
  --color-brand-2: #6699cc;
  --color-brand-3: #336699;
  --color-text: #000;
  --color-cta-text: #fff;
  --color-bg-l1: #fff;
  --color-bg-l2: #fff;
}

[data-palette='sober'] {
  --color-brand: #007bff;
  --color-brand-2: #6699cc;
  --color-brand-3: #336699;
  --color-text: #000;
  --color-cta-text: #fff;
  --color-bg-l1: #fff;
  --color-bg-l2: #fff;
}

[data-palette='dark'] {
  --color-brand: #b9c4ff;
  --color-brand-2: #6574cd;
  --color-brand-3: #2d3748;
  --color-text: #fff;
  --color-cta-text: #1f1b54;
  --color-bg-l1: #1f1b54;
  --color-bg-l2: #2b284e;
}

[data-palette='light'] {
  --color-brand: #f6ad55;
  --color-brand-2: #ffd7aa;
  --color-brand-3: #e69945;
  --color-text: #000;
  --color-cta-text: #fff;
  --color-bg-l1: #fff;
  --color-bg-l2: #fff;
}

[data-palette='modern'] {
  --color-brand: #2196f3;
  --color-brand-2: #64b5f6;
  --color-brand-3: #0d47a1;
}

[data-palette='coolBlue'] {
  --color-brand: #0099cc;
  --color-brand-2: #66cccc;
  --color-brand-3: #99ffff;
}

[data-palette='oceanBlue'] {
  --color-brand: #006699;
  --color-brand-2: #3399cc;
  --color-brand-3: #66ccff;
}

[data-palette='skyBlue'] {
  --color-brand: #66b2ff;
  --color-brand-2: #99ccff;
  --color-brand-3: #ccffff;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for aesthetics */
}
